services:
  web:
    image: ${IMAGE_REPOSITORY}/web:${DOCKER_TAG:-latest}
    build:
      target: production
    ports:
      - 80:3000

  agent:
    image: ${IMAGE_REPOSITORY}/agent:${DOCKER_TAG:-latest}
    build:
      target: production
